<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Просто чат</title>
<link rel="stylesheet" href="style.css">
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="vue.js"></script>
<script src="misc.js"></script>
<script src="xhr.js"></script>
<script src="chat.js"></script>
<script src="app.js"></script>
<script src="proto/proto.js"></script>
<script src="websock/ws.js"></script>

</head>

<body>
<script>
</script>

<div id="content">

<div class="trans" v-cloak v-show="state in transitionalStates">
{{ transitionalStates[state] }}<span v-if="state == states.disconnected">
<br>{{ errorText }}<br><br><input type="button" value="Подключиться" @click="run"></span>
</div>

<div class="login" v-cloak v-show="state == states.login">
Представьтесь, пожалуйста:<br>
<input type="text" maxlength="20" v-model="userName"><br>
<input type="button" value="Это я" @click="login">
</div>

<div class="chat" v-cloak v-show="state == states.chat" :class="{'show-logger': showLogger, 'show-dump': loggerDump}">

<div class="chat-rooms">
<h1>Комнаты<span class="button new-button" title="создать новую комнату" @click="newRoom">+</span></h1>
<div class="list">
<ul>
<li v-for="room in chat.roomList.items" :class="{open: room.isIn, new: room.newMessage}" @click="selectRoom(room.id)">{{ room.name }}</li>
</ul>
</div>
</div>

<div class="logger" v-cloak>
<ul>
<li v-for="item in logger.items"><small>{{ item.timeText }}</small> <span :class="item.typ" :data-dump="item.dump" @click="openDump">{{ item.name }}</span></li>
</ul>
<span class="button collapse-button" title="свернуть лог" @click="collapseLog">-</span>
</div>

<div class="logline" v-cloak>
&nbsp;<small>{{ logger.last().timeText }}</small>
<span :class="logger.last().typ">{{ logger.last().name }}</span>
<span class="button expand-button" title="раскрыть лог" @click="expandLog">^</span>
</div>

<div class="logdump" v-cloak v-show="loggerDump" @click="closeDump">
<pre>{{ loggerDump }}</pre>
</div>

<div class="chat-title">
<div v-if="chat.currentRoom">{{ chat.currentRoom.name }}</div>
<button class="button close-button" title="выйти из комнаты" @click="leaveRoom">&#x2a2f;</button>
</div>

<div class="chat-user" v-if="chat.users[chat.userId]">
<div>{{ chat.users[chat.userId].name }}</div>
<button class="button close-button" title="отключиться от сервера" @click="logout">&#x2a2f;</button>
</div>

<div class="chat-users">
<h1>В комнате</h1>
<div class="list" v-if="chat.currentRoom">
<ul>
<li v-for="user in chat.currentRoom.users.items">{{ user.name }}</li>
</ul>
</div>
</div>

<div class="chat-messages list">
<table v-if="chat.currentRoom">
<tr v-for="message in chat.currentRoom.messages">
<th :class="message.user.color">{{ message.user.name }}<br><small>{{ message.timeText }}</small></th>
<td><div :class="message.user.color">{{ message.text }}</div></td>
</tr>
</table>
<a :name="chat.currentRoomId"> </a>
</div>

<div class="chat-input" v-show="chat.currentRoom">
<textarea v-model="messageText" @keypress.enter.exact.prevent="sendMessage" id="input"></textarea>
<div>
<input type="button" value="Отправить" title="отправить сообщение (Enter)" @click="sendMessage"><br>
<input type="button" value="&#x23ce;" title="новая строка (Shift-Enter)" @click="addNewline">
</div>
</div>

</div>

</div>
</body>
</html>
