html, body, #content, .chat { position: absolute; width: 100%; height: 100%; margin: 0px; padding: 0px; }
body { font-family: Verdana, sans-serif; min-width: 50em; min-height: 20em; }
.hidden { display: none; }
.login { width: 30em; height: 5em; margin: 7em auto; padding: 1em; border: 2px solid; text-align: center; background: #f0f0f0; }
.login input { margin: 0.5em 0px; }
h1 { font-size: 0.8em; text-align: center; }

.chat>div { position: absolute; padding: 0px; border: 1px solid; border-radius: 0.5em; }
.chat ul { list-style: none; padding: 0px; margin: 0.5em; }
.chat li { margin: 0px; }

.list { position: absolute; left: 0px; top: 1.5em; right: 0px; bottom: 0px; overflow: auto; }

.close-button {
	display: block; position: absolute; right: 0.3em; top: 0.3em; width: 1.5em; height: 1.5em; padding: 0px;
	background: #c88; border: 1px solid #fff; border-radius: 0.5em; color: #fff; font-weight: bold;
	text-align: center; line-height: 1.5em; cursor: pointer;
}

.new-button {
	display: block; position: absolute; right: 0.3em; top: 0.3em; width: 1.5em; height: 1.5em; padding: 0px;
	background: #8c8; border: 1px solid #fff; border-radius: 0.5em; color: #fff; font-weight: bold;
	text-align: center; line-height: 1.5em; cursor: pointer;
}

.chat-rooms { left: 0.3em; top: 0.3em; right: 75.5%; bottom: 0.3em; }
.chat-rooms li { color: #999; font-weight: bold; font-size: 0.75em; cursor: pointer; margin: 0.5em 0px; line-height: 1.5em; }
.chat-rooms li:hover { background: #eff; border: 1px solid #9cc; }
.chat-rooms li.open { color: #80cc80; }
.chat-rooms li.open.new { color: #e0c080; }

.chat-title { left: 25%; top: 0.3em; right: 15%; height: 2em; }
.chat-user { left: 85.5%; top: 0.3em; right: 0.3em; height: 2em; }
.chat-title, .chat-user { overflow: hidden; }
.chat-title>div, .chat-user>div {
	position: absolute; left: 0px; right: 2.3em; padding-left: 0.3em; line-height: 1.8em; white-space: nowrap; overflow: hidden;
}

.chat-users { left: 85.5%; top: 2.5em; right: 0.3em; bottom: 5em; }

.chat-messages { left: 25%; top: 2.5em; right: 15%; bottom: 5em; overflow: auto; }
div.chat-messages>table {
	width: 100%; table-layout: fixed; border: none; font-size: 0.8em;
}
div.chat-messages th { width: 10em; vertical-align: top; background: #fff; font-weight: normal; text-align: right; }
div.chat-messages th>small { font-size: 0.7em; font-weight: normal; color: #000; }
div.chat-messages td { background: #fff; vertical-align: top; }
div.chat-messages td>div {
	display: inline-block; border: 1px solid; border-radius: 0.3em; padding: 0.2em 0.4em; margin-left: 0.5em;
	white-space: pre-line;
}

.col0 { background: #eee; color: #555; }
.col1 { background: #fdd; color: #800; }
.col2 { background: #fec; color: #760; }
.col3 { background: #ffa; color: #660; }
.col4 { background: #efb; color: #560; }
.col5 { background: #cfc; color: #070; }
.col6 { background: #bff; color: #066; }
.col7 { background: #eef; color: #008; }
.col8 { background: #edf; color: #607; }
.col9 { background: #fcd; color: #705; }

.chat-input { left: 25%; right: 0.3em; bottom: 0.3em; height: 4.5em; }
.chat-input>* { vertical-align: top; }
.chat-input>textarea { width: 78%; height: 4em; margin: 0.3em 1%; }
.chat-input>div { display: inline-block; width: 17%; margin: 0px 0.5%; padding: 0px; }
.chat-input>div>input { margin: 0.2em; cursor: pointer; }
